/* src/components/PlayerController.css */
.player-controller {
    text-align: center;
    margin-bottom: 1rem;
}

.controller-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

.controller-buttons button {
    padding: 0.5rem 1rem;
    font-size: 16px;
    cursor: pointer;
}

/* 通用按钮样式 */
.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* 各个按钮的个性化样式 */
.btn-gem {
    background-color: #4997e6;
    color: #fff;
}

.btn-reserve {
    background-color: #a600cf;
    color: #fff;
}

.btn-capture {
    background-color: #fac1c1;
    color: #ffffff;
}

.btn-evolve {
    background-color: #69ec5d;
    color: #ffffff;
}

.btn-skip {
    background-color: #ccc;
    color: #333;
}

.btn:hover {
    opacity: 0.8;
}